@media only screen and (max-width: 769px) {
  .custom-container {
    flex-direction: column;
  }

  .content-flex-for-mobile {
    display: flex;
  }

  .sidebar {
    flex-direction: row;
    z-index: 100;
    padding: 12px;
  }

  .mobile-hidden {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  .logo {
    width: 40px;
    height: auto;
    margin: 0;
    margin-right: 12px;
  }

  .sidebar > .title {
    font-size: 24px;
    margin: 0;
    flex-grow: 1;
  }

  .navbar-menu {
    padding: 12px;
  }

  .main-image {
    width: 100%;
    height: auto;
    object-fit: unset;
  }

  #navbar-burger-menu {
    position: absolute;
    width: 100%;
    top: 54px;
    z-index: 10;
  }

  .content {
    padding: 24px;
  }

  .settings-up-form {
    margin-top: 16px;
  }

  #navbar-burger-menu.is-active {
    display: block;
  }

  .navbar-burger {
    width: auto;
    height: auto;
  }

  .mobile-fullwidth {
    width: 100%;
    margin-bottom: 1rem;
    background-color: #2d9984;
    color: #ffffff;
  }

  .mobile-fullwidth:hover {
    width: 100%;
    margin-bottom: 1rem;
    background-color: #2d9984;
    color: #ffffff;
  }
}