@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');

*:not(i) {
  font-family: 'Kanit', 'san serif';
}

.sidebar {
  background-color: #fae2d6;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.29);
  z-index: 1;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin: 36px 0;
}

.helper {
  font-size: 14px;
  font-weight: lighter;
  color: #707070;
  margin-bottom: 18px;
}

.small-helper {
  font-size: 12px;
  font-weight: lighter;
  color: #dbdbdb;
}

.button {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.29);
  border-radius: 4px;
  font-size: 16px;
  padding: 8px;
  background: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #fafafa;
}

.fb-button {
  color: #ffffff;
  background-color: #3b5998;
  display: block;
  text-align: center;
}

.fb-button:hover {
  color: #e7e7e7;
  background-color: #4b69a8;
}

.fb-button:before {
  content: "";
  display: block;
  margin-top: 1px;
  background-image: url("./assets/f_logo_RGB-White_1024.png");
  background-size: 20px;
  width: 20px;
  height: 20px;
  float: left;
}

.button.is-primary {
  background-color: #31bda1;
  color: #ffffff;
}

.button.is-primary:hover {
  background-color: #2d9984;
  color: #ffffff;
}

.button.logout {
  background-color: #fae2d6;
  color: #707070;
}

.button.logout:hover {
  background-color: #f79a8a;
  color: #707070;
}

.is-recieved {
  color: #4bb543;
}

.is-cancel {
  color: #707070;
}