{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="content">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul class="no-margin">
        <li>
          <a href="{% url 'donate:home' %}">หน้าแรก</a>
        </li>
  
        {% for d in data.nav.0 %}
        <li>
          <a href="{{ d.url }}">{{ d.page }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>
    <hr>

    <div class="taejai">
      <img src="{% static 'assets/tae-jai.png' %}">
      <h6 class="control" style="margin-top: 30px; margin-left: 20px;"><a href="https://taejai.com/th/d/thammask/" target="_blank">ร่วมบริจาคเงินสมทบทุน (คลิ้ก)</a></h6>
    </div>
    <hr>
    <h4 class="title is-4 no-margin">บริจาคสิ่งของ</h4>
    <form action="" class="settings-up-form" method="POST">
      {% csrf_token %}
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">ชื่อ-นามสกุล ผู้บริจาค*</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" type="text" placeholder="เช่น Dr.Admin Thammask" name="donator" value="{{ data.profile.full_name }}" disabled />
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">สิ่งของบริจาค*</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <div class="select is-fullwidth">
                <select name="item" required>
                  <option disabled selected value="">กรุณาเลือกสิ่งของที่ต้องการบริจาค</option>
                  {% for item in data.items %}
                  <option value="{{ item.pk }}">{{ item.donate_item_name }} ({{ item.unit }})</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">จำนวน*</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" type="text" id="date_of_birth" placeholder="เช่น 1000" name="quantity" required/>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">หมายเหตุ</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <textarea class="textarea" placeholder="เช่น Shipping from other country" name="note"></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">หมายเลขติดตามพัสดุ</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" type="text" placeholder="เช่น TUTHAMMASK000001" name="shipping_id" />
            </div>
          </div>
        </div>
      </div>
      
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label"></label>
        </div>
        <div class="field-body">
          <p style="color: red; text-align: left;">*** ทางเราจะติดต่อกลับไปทางเบอร์โทรศัพท์ {{ data.profile.telephone }}</p>
        </div>
      </div>
      
      <div class="field is-horizontal margin-top">
        <div class="field-label"></div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button class="button is-primary" type="submit">
                ยืนยัน
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <hr>
    {% if data.donate %}
    <h4 class="title is-4 no-margin">ประวัติการบริจาค</h4>
    <div class="table-container">
      <table class="table is-fullwidth is-striped margin-top">
        <tr>
          <th width="25%">รายการ</th>
          <th width="20%">จำนวน</th>
          <th width="15%">สถานะ</th>
          <th width="20%">หมายเลขติดตามพัสดุ</th>
          <th>หมายเหตุ</th>
        </tr>
        {% for data in data.donate %}
        <tr>
          <td>{{ data.item }}</td>
          <td>{{ data.quantity }} ({{ data.item.unit }})</td>
          <td>{{ data.status }}</td>
          <td>{{ data.shipping_id }}</td>
          <td>{{ data.note }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endif %}

  </div>
{% endblock content %}
