{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
  <h4 class="title is-4 no-margin">ประวัติการบริจาค</h4>
  <table class="table is-fullwidth is-striped margin-top">
    <thead>
      <tr>
        <th width="50%">รายการ</th>
        <th width="15%">จำนวน</th>
        <th width="15%">สถานะ</th>
        <th>หมายเหตุ</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cotton HEPA Filtering</td>
        <td>1,000 pieces</td>
        <td class="is-recieved">Recieved</td>
        <td></td>
      </tr>
      <tr>
        <td>Non-wevon fabric</td>
        <td>1,000 pieces</td>
        <td class="is-recieved">Recieved</td>
        <td></td>
      </tr>
      <tr>
        <td>Non-wevon fabric</td>
        <td>1,000 pieces</td>
        <td class="is-cancel">Cancel</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock content %}
