{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="content no-margin no-padding content-flex-for-mobile" style="background-color: #fab1a5;">
    <img src="{% static 'assets/thammask4_720.jpg' %}" class="main-image" alt="">
  </div>
{% endblock content %}

{% block script %}
  <script>
    (function init() {
      const navbarBurgerMenu = document.getElementById("navbar-burger-menu");
      navbarBurgerMenu.classList.toggle("is-active");
    })();
  </script>
{% endblock %}
