{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="content">
    <h4 class="title is-4 no-margin">ประวัติการขอรับบริจาค</h4>
    <table class="table is-fullwidth is-striped margin-top">
      <thead>
        <tr>
          <th width="25%">รายการ</th>
          <th width="25%">ที่อยู่ผู้รับ</th>
          <th width="15%">สถานะ</th>
          <th>หมายเลขติดตามพัสดุ</th>
        </tr>
      </thead>
      <tbody>
        {% for data in data %}
        <tr>
          <td>{{ data.item }}</td>
          <td>{{ data.shipping_address }}</td>
          <td>{{ data.status }}</td>
          <td>{{ data.shipping_id }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}
