{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="content">
    <h4 class="title is-4 no-margin">ประวัติการขอรับบริจาค</h4>
    <table class="table is-fullwidth is-striped margin-top">
      <thead>
        <tr>
          <th width="40%">รายการ</th>
          <th width="10%">จำนวน</th>
          <th width="30%">ที่อยู่ผู้รับ</th>
          <th width="10%">สถานะ</th>
          <th>หมายเลขติดตามพัสดุ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Surgical Facial Mask</td>
          <td>1,000 pieces</td>
          <td>หมู่ที่ 8 95 ถนน พหลโยธิน ตำบล คลองหนึ่ง อำเภอคลองหลวง ปทุมธานี 12120</td>
          <td>Shipping</td>
          <td>TUSHIPPING000000001</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock content %}
