{% extends 'base.html' %} {% load static %} {% block content %}
<div class="content">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul class="no-margin">
      <li>
        <a href="{% url 'donate:home' %}">หน้าแรก</a>
      </li>

      {% for d in data.nav.0 %}
      <li>
        <a href="{{ d.url }}">{{ d.page }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>

  <hr />
  <h4 class="title is-4 no-margin">ขอรับบริจาคหน้ากากอนามัย</h4>
  <form
    action="{% url 'donate:request' %}"
    class="settings-up-form"
    method="POST"
  >
    {% csrf_token %}
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">ชื่อ-นามสกุล*</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input
              class="input"
              type="text"
              placeholder="เช่น Dr.Admin Thammask"
              name="receiver"
              value="{{ data.profile.full_name }}"
              disabled
            />
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">ขอรับบริจาค*</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <div class="select is-fullwidth">
              <select name="item" required>
                <option disabled value=""
                  >กรุณาเลือกสิ่งของที่ต้องการบริจาค</option
                >
                {% for item in data.items %}
                <option value="{{ item.pk }}" selected
                  >{{ item.item_name }} ({{ item.quantity | stringformat:'d' }} {{ item.unit }})</option
                >
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">สถานที่สำหรับจัดส่ง*</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <textarea
              class="textarea"
              placeholder="ที่อยู่สำหรับจัดส่ง"
              name="shipping_address" 
              required
            ></textarea>
          </div>
        </div>
      </div>
    </div>
    
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">ฝ่าย/สาขา*</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <select class="input" name="job" required>
              <option disabled selected value="">กรุณาเลือกสาขาเฉพาะทาง</option>
              {% for job in data.jobs %}
              <option value="{{ job.pk }}" {% if data.profile.job != None %} selected {% endif %}>{{ job.job_name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">เลขวุฒิบัตร</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="***ในกรณีที่ท่านไม่มีเลขวุฒิบัตรกรุณากรอกเครื่องหมาย ' - ' แทนนะคะ" name="holding_medical_license_no" {% if data.profile.holding_medical_license_no != None %} value="{{ data.profile.holding_medical_license_no }}" {% endif %} />
          </div>
          <p class="help">*สำหรับงานด้านการแพทย์จะได้รับการพิจารณาเป็นพิเศษ</p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">หมายเหตุ</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <textarea
              class="textarea"
              placeholder="เช่น Shipping from other country"
              name="note"
            ></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal margin-top">
      <div class="field-label"></div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <button class="button is-primary" type="submit">
              ยืนยัน
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <hr />
  {% if data.receive %}
  <h4 class="title is-4 no-margin">ประวัติการขอรับบริจาค</h4>
  <div class="table-container">
    <table class="table is-fullwidth is-striped margin-top">
      <tr>
        <th width="25%">รายการ</th>
        <th width="25%">ที่อยู่ผู้รับ</th>
        <th width="15%">สถานะ</th>
        <th>หมายเลขติดตามพัสดุ</th>
      </tr>
      {% for data in data.receive %}
      <tr>
        <td>{{ data.item }} ({{ data.item.unit }})</td>
        <td>{{ data.shipping_address }}</td>
        <td>{{ data.status }}</td>
        <td>{{ data.shipping_id }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}

</div>
{% endblock content %}
