{% extends 'base.html' %}
{% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <title>THAMMASK</title>
    <meta name="description" content="THAMMASK" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
    />
    <link rel="stylesheet" href="theme.css" />
    <link rel="stylesheet" href="base.css" />
  </head>
  <body>
    <div class="custom-container">
      <div class="sidebar">
        <div class="logo">
          <img src="./assets/Thammasat_main_logo.png" alt="" />
        </div>
        <h4 class="title">Thammask system</h4>
      </div>
      {% block menu %}
      {% endblock menu %}
      {% block content %}
      <div class="content">
        <h4 class="title is-4 no-margin">Review for TUSHIPPING000000001</h4>
        <form action="" class="settings-up-form">

          <div class="field is-horizontal">
            <div class="field-label is-normal"></div>
            <div class="field-body">
              <div class="likert-scale">
                <p class="no-margin">เห็นด้วยอย่างยิ่ง</p>
                <p class="no-margin">เห็นด้วย</p>
                <p class="no-margin">เฉยๆ</p>
                <p class="no-margin">ไม่เห็นด้วย</p>
                <p class="no-margin">ไม่เห็นด้วยอย่างยิ่ง</p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-body">
              <div class="likert-scale">
                <input type="radio">
                <input type="radio">
                <input type="radio">
                <input type="radio">
                <input type="radio">
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">ข้อเสนอแนะ*</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <textarea class="textarea" placeholder="E.g. Quality of facial mask"></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal margin-top">
            <div class="field-label"></div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <button class="button is-primary">
                    ยืนยัน
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      {% endblock content %}
    </div>
  </body>
</html>
