{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
  <h4 class="title is-4 no-margin">ประวัติส่วนตัว</h4>
  <form action="{% url 'donate:profile' %}" class="settings-up-form" method="POST">
    {% csrf_token %}
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">ชื่อ - นามสกุล*</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="เช่น Dr.Admin Thammask" name="full_name" {% if data.full_name != None %} value="{{ data.full_name }}" {% endif %} required />
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">ที่อยู่*</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <textarea class="textarea" placeholder="เช่น Bangkok" name="address" required>{% if data.address != None %}{{ data.address }}{% endif %}</textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">อีเมล*</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" type="email" placeholder="เช่น admin@thammask.com" name="email" {% if data.email != None %} value="{{ data.email }}" {% endif %} required />
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">เบอร์โทรศัพท์.*</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="เช่น 099-9999999" name="telephone" {% if data.telephone != None %} value="{{ data.telephone }}" {% endif %} required/>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">ชื่อโรงพยาบาล</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="***ในกรณีที่ท่านไม่มีเลขวุฒิบัตรกรุณากรอกเครื่องหมาย ' - ' แทนนะคะ" name="organization" {% if data.organization != None %} value="{{ data.organization }}" {% endif %} />
          </div>
          
        </div>
      </div>
    </div>
    
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">สาขาเฉพาะทาง*</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <select class="input" name="job" required>
              <option hidden value="">-----------------</option>
              {% for job in jobs %}
              <option value="{{ job.pk }}" {% if data.job != None %} selected {% endif %}>{{ job.job_name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">เลขวุฒิบัตร</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="***ในกรณีที่ท่านไม่มีเลขวุฒิบัตรกรุณากรอกเครื่องหมาย ' - ' แทนนะคะ" name="holding_medical_license_no" {% if data.holding_medical_license_no != None %} value="{{ data.holding_medical_license_no }}" {% endif %} />
          </div>
          <p class="help">*สำหรับงานด้านการแพทย์จะได้รับการพิจารณาเป็นพิเศษ</p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal margin-top">
      <div class="field-label"></div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <button class="button is-primary" type="submit">
              ยืนยัน
            </button>
            <a href="{% url 'logout' %}" class="button is-primary">ออกจากระบบ</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock content %}

{% block script %}
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
  />
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script>
    flatpickr("#date_of_birth", {
      dateFormat: "d F Y"
    })
  </script>

{% endblock script %}
