{% extends 'base.html' %}
{% load static %}

{% block menu %}
{% if data.full_name != None %}
<div class="menu">
  <div class="menu-group">
      <span class="helper">
      หมวดผู้บริจาค
      </span>
      <a href="{% url 'donate:donate_history' %}" class="menu-item {% if request.path == '/donate_history/' %} is-active {% endif %}">ประวัติการบริจาค</a>
      <a href="{% url 'donate:donate' %}" class="menu-item {% if request.path == '/donate/' %} is-active {% endif %}" >บริจาคสิ่งของ</a>
      <a href="https://taejai.com/th/" class="menu-item" target="_blank">บริคจาคเงินสมทบทุน</a>
  </div>
  <div class="menu-group">
      <span class="helper">
      หมวดผู้ขอรับบริจาค
      </span>
      <a href="{% url 'donate:request_history' %}" class="menu-item {% if request.path == '/request_history/' %} is-active {% endif %}">ประวัติการขอรับบริจาค</a>
      <a href="{% url 'donate:request' %}" class="menu-item {% if request.path == '/request/' %} is-active {% endif %}">ขอรับบริจาค</a>
  </div>
  <div class="menu-group">
      <span class="helper">
      Something
      </span>
      <a href="{% url 'donate:profile' %}" class="menu-item {% if request.path == '/profile/' %} is-active {% endif %}">ประวัติส่วนตัว</a>
      <a href="{% url 'logout' %}" class="menu-item">ออกจากระบบ</a>
  </div>
</div>
{% endif %}
{% endblock menu%}
{% block content %}
<div class="content">
  <h4 class="title is-4 no-margin">ประวัติส่วนตัว</h4>
  <form action="{% url 'donate:profile' %}" class="settings-up-form" method="POST">
    {% csrf_token %}
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">ชื่อ - นามสกุล*</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="เช่น Dr.Admin Thammask" name="full_name" {% if data.full_name != None %} value="{{ data.full_name }}" {% endif %} />
            
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">เลขบัตรประชาชน/หนังสือเดินทาง*</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="เช่น 1xxxxxxxxxxxx" name="thai_citizen_id" {% if data.thai_citizen_id != None %} value="{{ data.thai_citizen_id }}" {% endif %} />
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">วัน/เดือน/ปี เกิด*</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" type="text" id="date_of_birth" placeholder="เช่น 10 January 1960" name="date_of_birth" {% if data.date_of_birth != None %} value="{{ data.date_of_birth }}" {% endif %} />
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">อีเมล*</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" type="email" placeholder="เช่น admin@thammask.com" name="email" {% if data.email != None %} value="{{ data.email }}" {% endif %} />
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">เบอร์โทรศัพท์.*</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="เช่น 099-9999999" name="telephone" {% if data.telephone != None %} value="{{ data.telephone }}" {% endif %} />
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">อาชีพ*</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="เช่น Surgical Docter" name="job" {% if data.job != None %} value="{{ data.job }}" {% endif %} />
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">เลขที่ใบประกอบวิชาชีพเวชกรรมฯ</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="หากคุณทำงานในสาขาการแพทย์กรุณากรอกข้อมูลในช่องนี้" name="holding_medical_license_no" {% if data.holding_medical_license_no != None %} value="{{ data.holding_medical_license_no }}" {% endif %} />
          </div>
          <p class="help">*สำหรับงานด้านการแพทย์จะได้รับการพิจารณาเป็นพิเศษ</p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">ชื่อองค์กร</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="หากคุณทำงานในสาขาการแพทย์กรุณากรอกข้อมูลในช่องนี้" name="organization" {% if data.organization != None %} value="{{ data.organization }}" {% endif %} />
          </div>
          
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">เบอร์โทรศัพท์ องค์กร</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" type="text" placeholder="หากคุณทำงานในสาขาการแพทย์กรุณากรอกข้อมูลในช่องนี้" name="tel_organization" {% if data.tel_organization != None %} value="{{ data.tel_organization }}" {% endif %} />
          </div>
          
        </div>
      </div>
    </div>

    <div class="field is-horizontal margin-top">
      <div class="field-label"></div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <button class="button is-primary" type="submit">
              ยืนยัน
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock content %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script>
    flatpickr("#date_of_birth", {
      dateFormat: "d F Y"
    })
  </script>

{% endblock script %}
