{% load static %}
{% load filter %}
<html>
  <head>
    <meta charset="UTF-8" />
    <title>THAMMASK</title>
    <meta name="description" content="THAMMASK" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
    />
    <link rel="stylesheet" href="{% static 'theme.css' %}" />
    <link rel="stylesheet" href="{% static 'base.css' %}" />
    <link rel="stylesheet" href="{% static 'mobile.css' %}" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>
  <body>
    <div class="custom-container">
      <div class="sidebar">
        <div class="logo">
          <img src="{% static 'assets/logo-thammask.png' %}" alt="" />
        </div>
        <h4 class="title">Thammask system</h4>
        <div class="menu mobile-hidden">
          {% if not request.user.is_anonymous %}
            {% if request.user.pk|get_full_name != None %}
              <div class="menu-group">
                <a
                  href="{% url 'donate:donate' %}"
                  class="menu-item {% if request.path == '/donate/' %} is-active {% endif %}"
                  >บริจาคสิ่งของ</a
                >
              </div>
              <div class="menu-group">
                <a
                  href="{% url 'donate:request' %}"
                  class="menu-item {% if request.path == '/request/' %} is-active {% endif %}"
                  >ขอรับหน้ากากอนามัย</a
                >
              </div>
              <div class="menu-group">
                <a
                  href="{% url 'donate:profile' %}"
                  class="menu-item {% if request.path == '/profile/' %} is-active {% endif %}"
                  >ข้อมูลส่วนตัว</a
                >
              </div>
            {% endif %}
          {% else %}
          <span class="helper">
            Sign in with your social account
          </span>
          <a href="{% url 'social:begin' 'facebook' %}" class="button fb-button"
            >Sign in with Facebook</a
          >
          {% endif %}
        </div>
        <div class="mobile-only">
          <a class="navbar-burger burger" id="navbar-burger">
            <i class="fas fa-bars"></i>
          </a>
        </div>
      </div>
      <div id="navbar-burger-menu" class="navbar-menu">
        {% if not request.user.is_anonymous %}
          {% if request.user.pk|get_full_name != None %}
            <div class="menu-group">
              <a
                href="{% url 'donate:donate' %}"
                class="navbar-item {% if request.path == '/donate/' %} is-active {% endif %}"
                >บริจาคสิ่งของ</a
              >
            </div>

            <div class="menu-group">
              <a
                href="{% url 'donate:request' %}"
                class="navbar-item {% if request.path == '/request/' %} is-active {% endif %}"
                >ขอรับหน้ากากอนามัย</a
              >
            </div>
            <div class="menu-group">
              <a
                href="{% url 'donate:profile' %}"
                class="navbar-item {% if request.path == '/profile/' %} is-active {% endif %}"
                >ข้อมูลส่วนตัว</a
              >
            </div>
          {% endif %}
        {% else %}
        <div class="navbar-item">
          <span class="helper">
            Sign in with your social account
          </span>

          <a href="{% url 'social:begin' 'facebook' %}" class="button fb-button"
            >Sign in with Facebook</a
          >
        </div>
        {% endif %}
      </div>
      {% block content %}{% endblock content %}
    </div>
  </body>
  {% block script %} {% endblock script %}
  <script>
    const navbarBurger = document.getElementById("navbar-burger");
    navbarBurger.onclick = () => {
      const navbarBurgerMenu = document.getElementById("navbar-burger-menu");
      navbarBurgerMenu.classList.toggle("is-active");
    };
  </script>
</html>
